# Node modules
node_modules/

# Build output
dist/

# Local environment variables
.env.local
.env.production
.env.development
.env.*.local
.env

# Log files
*.log

# Vite cache
.vite/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store
Thumbs.db
.vercel
CLAUDE.md
